<footer class="footer" id="contact">
  <div class="subscribe-form">
      <h3>Subscribe for Updates & Exclusive Offers!</h3>
      <form id="subscribe-form" action="#" method="POST">
          <input type="hidden" name="access_key" value="069d3d07-40a8-46ce-9d3d-2f7f4b72480c">
          <input type="email" name="email" placeholder="Enter your email" required aria-label="Email for newsletter">
          <button type="submit">Subscribe</button>
      </form>
  </div>
  <div class="main-footer">
      <div class="footer-sections">
          <div class="footer-section">
              <h1>Petswale</h1>
              <div class="footer-quote">
                  <p>Your trusted partner in pet care, delivering love and quality to every furry friend.</p>
              </div>
          </div>
          <div class="footer-section">
              <h4>Explore</h4>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/#blogs">Blog</a></li>
                  <li><a href="/products/1">Dog</a></li>
                  <li><a href="/products/2">Cat</a></li>
              </ul>
          </div>
          <div class="footer-section">
              <h4>Your Account</h4>
              <ul>
                  <li><a href="/wishlist">Wishlist</a></li>
                  <li><a href="/cart">Cart</a></li>
                  <li><a href="/profile">My Account</a></li>
              </ul>
          </div>
          <div class="footer-section">
              <h4>Connect With Us</h4>
              <ul>
                  <li><a href="https://www.instagram.com"><i class="ri-instagram-line"></i> Instagram</a></li>
                  <li><a href="https://www.facebook.com"><i class="ri-facebook-line"></i> Facebook</a></li>
                  <li><a href="https://www.twitter.com"><i class="ri-twitter-x-line"></i> Twitter</a></li>
              </ul>
          </div>
          <div class="footer-section">
              <h4>Contact</h4>
              <ul>
                  <li><p>Tel: +91 95376 64929</p></li>
                  <li><p><a href="mailto:petswale.in@gmail.com">petswale.in@gmail.com</a></p></li>
              </ul>
          </div>
      </div>
      <div class="footer-bottom">
          <p>© Petswale 2025. All Rights Reserved. <a href="/privacy">Privacy Policy</a><p>
      </div>
  </div>
</footer>